.divider {
    height: 450px;

    @media screen and (max-width: 750px) {
        height: 425px;
    }
    @media screen and (max-width: 725px) {
    height: 400px;
    }
    @media screen and (max-width: 700px) {
        height: 375px;
    }
    @media screen and (max-width: 675px) {
        height: 350px;
    }
    @media screen and (max-width: 650px) {
        height: 350px;
    }
    @media screen and (max-width: 625px) {
        height: 325px;
    }
}

.start-flex {
    width: 80%;
    float: right;
    transition: width 0.7s ease-in-out;
    @media screen and (max-width: 1050px) {
        width: 100%;
    }
}

.start {
    width: 100%;
    float: right;
    transition: width 0.7s ease-in-out;

    &__intro {
        position: relative;
        max-width: 1200px;
        margin: auto;
        padding-bottom: 14.05%;
        margin-top: 50px;

        &__wp-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(175, 175, 175, 0.5);

            &__img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                background-image: url(../../../Assets/images/art.jpg);

                &__overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    &__intro-text {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        margin-top: -2.25rem;
        padding-bottom: 2.25rem;
        margin-bottom: 2rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        @media screen and (max-width: 870px) {
            padding: 0 0rem;
        }

        &__grid {
            max-width: calc(55.33333% - 2rem);
            width: calc(55.33333% - 2rem);
            min-width: calc(55.33333% - 2rem);
            flex: 2 0;
            float: left;
            margin-right: 1rem;
            margin-left: 6rem;
            max-width: calc(100% - 4px);
            box-sizing: border-box;
            margin-top: -50px;
            @media screen and (max-width: 870px) {
                margin-top: -38px;
                margin-left: 3rem;
            }
            @media screen and (max-width: 750px) {
                margin-left: 1rem;
            }
            @media screen and (max-width: 650px) {
                margin-top: -27px;
            }

            &__title {
                position: relative;
                font-size: 4.25rem;
                letter-spacing: 3px;
                font-weight: 700;
                font-family: 'Arial', sans-serif;
                color: white;
                @media screen and (max-width: 870px) {
                    font-size: 3.25rem;
                }
                @media screen and (max-width: 650px) {
                    font-size: 2.25rem;
                }
            }

            &__text {
                max-width: 40rem;
                line-height: 1.35;
                font-size: 1.2rem;
                padding-top: 0.0.2rem;
                color: hsla(0,0%,96.1%,.5);
                @media screen and (max-width: 870px) {
                    font-size: 1rem;
                }
            }
        }
    }

    &__divider {
        max-width: 1200px;
        height: 3px;
        background-color: rgba(175, 175, 175, 0.5);
        height: auto;
        margin: 0 auto;
        padding: 1px;
        position: relative;
        margin-top: 50px;
    }

    &__reference {
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        margin-top: 50px;

        &__title {
            text-align: center;
            color: lightgray;
            font-size: 2rem;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
        }

        &__images {
            max-width: 1200px;
            height: auto;
            margin: 0 auto;
            padding: 0px;
            position: relative;
            margin-top: -50px;

            &__hedin {
                background-image: url(../../../Assets/images/reference/hedin_it_logo.png);
                background-position: center;
                background-repeat: no-repeat;
                height: 150px;
            }

            &__malmberg {
                background-image: url(../../../Assets/images/reference/malmberg_logo.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 150px;
                width: 350px;
                margin: 0 auto;
            }
        }

    }

    &__middle-section {
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        padding: 0px;
        position: relative;
        margin-top: 25px;
        display: grid;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        @media screen and (max-width: 630px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @media screen and (max-width: 540px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 10px;
            margin-top: 10px;
            padding: 0px;
        }

        &__square {
            padding: 0px;
            margin: 0px;
            text-align: center;
            min-width: 274px;
            flex: 1;

            &--one {
                background-image: linear-gradient(-130deg, #344475, #502e41);
                margin: 25px;
                text-align: center;
                border: 2px solid #9266A8;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #9266A8; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(21.80%);
                    background: #9266A8;
                }
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                }   
            }

            &--two {
                background-image: linear-gradient(-130deg, #003061, #014d33);
                margin: 25px;
                text-align: center;
                border: 2px solid #008DC2;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #008DC2; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(21.80%);
                    background: #008DC2;
                }
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                } 
            }

            &--three {
                background-image: linear-gradient(-130deg, #405201, #013b31);
                margin: 25px;
                text-align: center;
                border: 2px solid #248A1D;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #248A1D; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(22%);
                    background: #248A1D;
                }      
                
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                } 
            }

            &--four {
                background-image: linear-gradient(-130deg, #6e0027, #004070);
                margin: 25px;
                text-align: center;
                border: 2px solid #B14FC7;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #B14FC7; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(21.80%);
                    background: #B14FC7;
                } 
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                } 
            }

            &--five {
                background-image: linear-gradient(-130deg, #004230, #29354b);
                margin: 25px;
                text-align: center;
                border: 2px solid #008DAF;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #008DAF; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(21.80%);
                    background: #008DAF;
                } 
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                } 
            }
            
            &--six {
                background-image: linear-gradient(-130deg, #004161, #471028);
                margin: 25px;
                text-align: center;
                border: 2px solid #7378D2;
                position: relative;
                width: calc(92.60% - 1.33rem);
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                flex: 1;
                padding-bottom: 41px;
                @media screen and (max-width: 626px) {
                    width: 99%;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: -8px;
                    margin-left: -2px;
                    background: #7378D2; 
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28.7%;
                    height: 6px;
                    margin-top: 43px;
                    float: right;
                    left: 50%;
                    margin-left: calc(22%);
                    background: #7378D2;
                } 
                @media screen and (max-width: 630px) {
                    min-width: 10px;
                    max-width: 250px;
                }
                @media screen and (max-width: 540px) {
                    margin: 3px;
                    min-width: 220px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 100%;
                } 
            }

            &__title {
                color: #f5f5f5;
                text-transform: uppercase;
                font-family: 'Arial', sans-serif;
                font-weight: 600;
                font-size: 18px;
                padding-top: 40px;
                @media screen and (max-width: 630px) {
                    font-size: 14px;
                }
            }

            &__img {
                margin-top: 10px;
            }

            &__description {
                color: #f5f5f5;
                margin-top: 30px;
                @media screen and (max-width: 630px) {
                    font-size: 12px;
                }
            }
        }
    }
}