.container {
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
  }

.content {
  height: 100%;
  overflow: hidden;
}

  body {
    padding: 0 !important;
    background-color: rgb(18, 23, 28);
    overflow-y: scroll;
  }